body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
}

#header {
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
}

#header > * {
    border: 2px solid black;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

.searchbar img {
    width: 30px;
    justify-self: end;
    margin-right: 1rem;
}

#search {
    appearance: none;
    background-color: #e2e8f0;
    box-sizing: border-box;
    border-radius: 17px;
    border: none;
    width: clamp(300px, 95%, 900px);
    height: 35px; 
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.user-info img:nth-child(1){
    width: 25px;
}

.user-info img:nth-child(2) {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

#sidebar {
    background-color: #1992d4;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    color: white;
    grid-template-rows: 1fr 3fr 3fr 4fr;
    gap: 50px;
}

#sidebar > * {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 50px;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    align-content: center;
}

#sidebar img {
    width: 30px;
    justify-self: center;
    filter: invert(1);
}

.directory div, .tools div {
    padding-top: 4px;
}

#sidebar .title img {
    width: 50px;
}

#sidebar .title div {
    font-size: 30px;
    padding-top: 4px;
}

#content {
    background-color: #e2e8f0;
    grid-area: 2 / 2;
}